{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'widgets/_widgets_resettings.html.twig'  %}
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
<div class="mb-none">
    <div class="row">
        {% if form.societe is defined %}
            {{ form_row(form.societe,{'attr':{'class':'input-lg'}}) }}
            {{ form_row(form.adresse,{'id':'autocomplete','attr':{'class':'input-lg'}}) }}
            {% if form.city is defined %}
                {{ form_row(form.city,{'id':'locality','attr':{'class':'input-lg'}}) }}
                {{ form_row(form.codePostal,{'id':'postal_code','attr':{'class':'input-lg'}}) }}
                {{ form_row(form.latitude) }}
                {{ form_row(form.longitude) }}
            {% endif %}
            {{ form_row(form.telephone,{'attr':{'class':'input-lg'}}) }}
        {% endif %}
        <div class="form-group{% if not form.plainPassword.vars.valid %} has-error{% endif %}">
            <div class="col-sm-12 mb-lg">
                <label class="control-label">Mot de passe (*)</label>
                {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control input-lg'}}) }}
            </div>
            <div class="col-sm-12 mb-lg">
                <label class="control-label">Confirmation du mot de passe (*)</label>
                {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control input-lg'}}) }}
            </div>
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="col-sm-12">
            <em style="font-size: 11px;color: #444444;">- Le mot de passe doit contenir entre 12 et 16 caractères alphanumériques dont une majuscule, un chiffre et un caractère spécial.</em><!-- Le mot de passe doit contenir entre 8 et 16 caractères alphanumériques dont une majuscule, une minuscule et un chiffre. --><br/>
            <em style="font-size: 11px;color: #444444;">- Le mot de passe doit être changé à échéance régulière pour plus de sécurité.</em>
        </div>
        {% if form.recaptcha is defined %}
            <div class="col-sm-12 mb-lg">
                {{ form_row(form.CGU) }}
            </div>
            {{ form_row(form.recaptcha) }}
        {% endif %}
    </div>
</div>
<div class="col-sm-12 text-right">
    <input type="submit" class="btn btn-primary hidden-xs" value="{{ (form.societe is defined or app.user and app.user.hasRole('ROLE_OF')) ? 'resetting.reset.submit_invitation'|trans : 'resetting.reset.submit'|trans }}" />
    <input type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" value="{{ form.recaptcha is defined ? 'resetting.reset.submit_invitation'|trans : 'resetting.reset.submit'|trans }}" />
</div>
{{ form_end(form) }}

<script>
    var autocomplete;
    var componentForm = {
        locality: 'short_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(/** @type {!HTMLInputElement} */(document.getElementById('autocomplete')), {types: ['geocode']});
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            $('.latitude').val(place.geometry.location.lat());
            $('.longitude').val(place.geometry.location.lng());

            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }

            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    document.getElementById(addressType).value = place.address_components[i][componentForm[addressType]];
                }
            }

        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api }}&libraries=places&callback=initAutocomplete" async defer></script>