<p>Bonjour,</p>
<p>Nous vous confirmons le changement de votre mot de passe. Nous vous invitons à relire les conditions générales d'utilisations.</p>
<p>Si vous n'êtes pas à l'origine de cette action, veuillez contacter l'administrateur par e-mail :</p>
<p>Nous vous remercions pour la confiance que vous accordez à EGF BTP et restons à votre disposition.</p>
<p>
Cordialement,<br/>
L'équipe EGFBTP
</p>