<p>Bonjour,</p>
<p>Vous êtes invité à faire votre inscription sur la plateforme <a href="https://www.plateforme passeport-securite-interim-btp.fr" target="_blank">passeport-securite-interim-btp.fr.</a></p>
<p>Merci de cliquer sur ce <a href="{{ url }}">lien d’activation</a> (vous pourrez changer votre mot de passe).</p>
<p>
    Bonne coopération !<br/>
    L'équipe EGFBTP
</p>