<p>Bonjour,</p>
<p>Votre inscription a été acceptée par l'administrateur. Vous pouvez vous connecter à votre espace sur le site <a href="http://www.passeport-securite-interim-btp.fr">www.passeport-securite-interim-btp.fr</a> </p>
<br/>
<p>
    L'équipe EGFBTP
</p>