{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Organismes de formation{% endblock %}

{% block breadcrumbs %}
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    <div class="search-content">
        <div class="tab-content">
            <div id="map" style="height: 500px;" data-content="{{ usersJson|json_encode }}"></div>
            <div id="everything" class="tab-pane active">
                <p class="total-results text-muted" style="padding-top: 10px;">{{ (users.currentPageNumber-1)*25 + 1 }} à {{ (users.currentPageNumber-1)*25+users|length }} de {{ users.getTotalItemCount }} résultas</p>
                <div class="table-responsive">
                    {#<table class="table table-hover mb-none">
                        <thead>
                            <tr>
                                <th>Organisme</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.societe }}</td>
                                <td>{{ user.adresse }}</td>
                                <td> {{ user.telephone ? user.telephone : '---' }} </td>
                                <td> {{ user.email ? user.email : '---' }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>#}
                    {{ sg_datatables_render(datatable) }}
                </div>
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script>
        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: {lat: 46.1386075, lng: -2.4459549}
            });

            var infoWin = new google.maps.InfoWindow();
            var markers = locations.map(function(location, i) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(parseFloat(location.lat),parseFloat(location.lng))
                });
                google.maps.event.addListener(marker, 'click', function(evt) {
                    infoWin.setContent(location.info);
                    infoWin.open(map, marker);
                });
                return marker;
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var locations = $.parseJSON(JSON.stringify($('#map').data('content')));
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api }}&callback=initMap"></script>
{% endblock %}
