{% block form_row -%}
  <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
      {{- form_widget(form) -}}
      {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block question_row %}
  {% spaceless %}
    <div class="question">
      {{ form_widget(form) }}
    </div>
  {% endspaceless %}
{% endblock %}

{% block question_widget %}
  {% spaceless %}
    <div class="form-group">
      <h2>{{ form.vars.name|number_format+1 }}</h2>
      <div class="col-md-12">
        <label class="col-md-1 control-label">
          Question :
        </label>
        <div class="col-md-2">
          {{ form_widget(form.type,{'attr': {'data-plugin-selecttwo':'', 'class':'select2'} }) }}
          {{ form_errors(form.type) }}
        </div>
        <div class="col-md-6">
          {{ form_widget(form.question) }}
          {{ form_errors(form.question) }}
        </div>
        <div class="col-md-3">
          <a class="delete-question btn btn-warning" data-action="delete-target">
            Annuler
          </a>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 question-section">
        {{ form_widget(form.image) }}
        {{ form_widget(form.sound) }}
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="responses-container">
          <div class="responses-list">
            <h5 class="response-label">Réponses</h5>
            <div class="col-md-12">
              {{ form_widget(form.responses) }}
              {{ form_errors(form.responses) }}
            </div>
          </div>
          <hr/>
          <button type="button" class="btn btn-default" id="add_response_{{ form.vars.name }}" class="btn btn-default">
            <i class="fa fa-plus position-left"></i>
            {{ "Ajouter une reponse"|trans }}
          </button>
          <hr/>
        </div>
      </div>
    </div>
  {% endspaceless %}
{% endblock question_widget %}

{# Options de l'avantage #}
{% block response_row %}
  {% spaceless %}
      <div class="single_response">
        {{ form_widget(form) }}
      </div>
  {% endspaceless %}
{% endblock %}

{% block response_widget %}
  {% spaceless %}
    <div class="clearfix">
      <div class="col-sm-1">{{ form_row(form.isTrue) }}</div>
      <div class="col-sm-5">{{ form_row(form.response) }}</div>
      <div class="col-sm-5 response-images">{{ form_widget(form.image,{'label':false}) }}</div>
      <div class="col-sm-1"><a href="#" data-action="delete-target" class="close-target"><span aria-hidden="true">&times;</span></a></div>
    </div>
  {% endspaceless %}
{% endblock response_widget %}


{% block image_widget %}
  {% spaceless %}
    <div class="row single-image single-container" data-type="image" data-id="{{ form.vars.value ? form.vars.value.id : '0' }}">
      {% if form.vars.label %}
      <div class="col-md-2">
        {{ form_label(form) }}
      </div>
      <div class="col-md-8 fileupload-container">
      {% else %}
      <div class="col-md-12 fileupload-container">
      {% endif %}
        <div class="fileupload {% if form.vars.data is not null %}fileupload-exists{% else %}fileupload-new{% endif %}" data-provides="fileupload">
          <div class="input-append">
            <div class="uneditable-input">
              <i class="fa fa-file fileupload-exists"></i>
              <span class="fileupload-preview">
                {% if form.vars.data is not null %}
                  {{ form.vars.data.alt }}
                {% endif %}
            </span>
            </div>
            <span class="btn btn-default btn-file">
              <span class="fileupload-exists">Modifier</span>
              <span class="fileupload-new">Sélectionner un fichier</span>
          </span>
            <a href="javascript:void(0);" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Supprimer</a>
          </div>
        </div>
      </div>
      <div class="{% if form.vars.label %}col-md-8 col-md-offset-1{% else %}col-md-12{% endif %} image-container">
        {{ form_widget(form.file,{'attr':{'class':'fileuploader hidden', 'data-url': oneup_uploader_endpoint('images') }}) }}
        {{ form_widget(form) }}
        <div class="sidebar-widget widget-stats hidden">
          <div class="progress-extended"></div>
          <div class="progress-container">
            <div class="progress-bar progress-bar-primary progress-without-number bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
          </div>
        </div>
      </div>
    </div>
  {% endspaceless %}
{% endblock image_widget %}

{% block sound_widget %}
  {% spaceless %}
    <div class="row single-sound single-container" data-type="sound" data-id="{{ form.vars.value ? form.vars.value.id : '0' }}">
      <div class="col-md-2">
        {{ form_label(form) }}
      </div>
      <div class="col-md-10 fileupload-container">
        <div class="fileupload {% if form.vars.data is not null %}fileupload-exists{% else %}fileupload-new{% endif %}" data-provides="fileupload">
          <div class="input-append">
            <div class="uneditable-input">
              <i class="fa fa-file fileupload-exists"></i>
              <span class="fileupload-preview">
                {% if form.vars.data is not null %}
                  {{ form.vars.data.originalName }}
                {% endif %}
            </span>
            </div>
            <span class="btn btn-default btn-file">
              <span class="fileupload-exists">Modifier</span>
              <span class="fileupload-new">Sélectionner un fichier</span>
          </span>
            <a href="javascript:void(0);" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Supprimer</a>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-1 sound-container">
        {{ form_widget(form.file,{'attr':{'class':'fileuploader hidden', 'data-url': oneup_uploader_endpoint('sounds') }}) }}
        {{ form_widget(form) }}
        <div class="sidebar-widget widget-stats hidden">
          <div class="progress-extended"></div>
          <div class="progress-container">
            <div class="progress-bar progress-bar-primary progress-without-number bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
          </div>
        </div>
      </div>
    </div>
  {% endspaceless %}
{% endblock sound_widget %}


{% block form_errors -%}
  {% if errors is defined and errors|length > 0 -%}
    {%- for error in errors -%}
      <div class="alert alert-danger">
        <strong><i class="fa fa-exclamation-circle "></i></strong> {{ error.message }}
      </div>
    {%- endfor %}
  {%- endif %}
{%- endblock form_errors %}
