{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Ajouter un administrateur{% endblock %}

{% block breadcrumbs %}
    <li><span>Admin</span></li>
    <li><span>Utilisateurs</span></li>
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">{{ block('title') }}</h2>
        </header>
        <div class="panel-body">
            {% form_theme form '_widgets_horizontal.html.twig'  %}
            {{ form_start(form, {'attr':{'class': 'form-horizontal form-bordered','novalidate': 'novalidate'}}) }}
            {{ form_row(form.societe) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}

            <div class="row" style="margin-top:10px;">
                <div class="col-sm-10">
                    <div class="mb-md pull-right">
                        <input type="submit" value="{{ isNew ? "Ajouter" : "Editer" }}" class="btn btn-primary">
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock body %}

