{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Editer un Organisme de formation{% endblock %}

{% block breadcrumbs %}
    <li><span>Admin</span></li>
    <li><span>Utilisateurs</span></li>
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">{{ block('title') }}</h2>
        </header>
        <div class="panel-body">
            {% form_theme form '_widgets_horizontal.html.twig'  %}
            {{ form_start(form, {'attr':{'class': 'form-horizontal form-bordered','novalidate': 'novalidate'}}) }}
            {{ form_row(form.societe) }}
            {{ form_row(form.adresse) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.email) }}
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-10">
                    <div class="mb-md pull-right">
                        <input type="submit" value="Editer" class="btn btn-primary">
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock body %}


{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#type:checked').parent().addClass('active');
            $('#type').on('change', function(){
                var form = document.querySelector('form');
                var data = new FormData();
                data.append($('#type').attr('name'), $('#type').val());
                // On envoie une requête ajax POST
                ajaxPost(form.action, data, function (res) {
                    // On parse la réponse en DOM HTML
                    var parser = new DOMParser();
                    var doc = parser.parseFromString(res, 'text/html');
                    $('#form-container').html(doc.getElementById('form-container'));
                });
            });
        });
    </script>
{% endblock %}