{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Entreprises de travail temporaire{% endblock %}

{% block breadcrumbs %}
    <li><span>Admin</span></li>
    <li><span>Utilisateurs</span></li>
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">{{ block('title') }}</h2>
        </header>
        <div class="panel-body">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-md">
                        <a href="{{ path('admin_users_ett_add') }}" class="btn btn-primary">Ajouter une entreprise de travail temporaire <i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
            {{ sg_datatables_render(datatable) }}
        </div>
    </section>
{% endblock body %}