{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Les apprenants{% endblock %}

{% block breadcrumbs %}
    <li><span>Administration</span></li>
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_start(formImport,{'attr':{'id':'formImport','class':'form-horizontal', 'novalidate':'novalidate'}}) }}
    {{ form_widget(formImport.file,{'id':'attachedFile','attr':{'class': 'filestyle'}}) }}
    {{ form_end(formImport) }}
    <div class="fileupload-progress hidden" id="progress">
        <p>
            <i class="fa fa-spinner spinning fa-2x"></i> Veuillez ne pas rafraichir cette page avant la fin d'import.
        </p>
    </div>
    <div id="import-container"></div>
    <hr/>
    {% endif %}
    {%  if apprenantsCount == 0 %}
        <div class="alert alert-info fade in nomargin">
            <h4>Information !</h4>
            <p>
                Vous n'avez pas encore crée d'apprenant.
            </p>
        </div>
    {% else %}
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">{{ block('title') }}</h2>
            </header>
            <div class="panel-body table-atelier">
                {{ sg_datatables_render(datatable) }}
            </div>
        </section>
    {% endif %}
{% endblock body %}


{% block javascripts %}
    <script>
        jQuery(document).ready(function() {
            $('#formImport input[type="file"]').on('change',function(){
                $('#formImport').ajaxSubmit({
                    beforeSend: function() {
                        $('#progress').removeClass("hidden");
                        $('#import-container').html('');
                    },
                    success: function(data) {
                        $('#progress').addClass("hidden");
                        if(data.error) {
                            $('#import-container').html('<div class="alert alert-danger">'+data.error+'</div>');
                        } else if(data.success) {
                            location.reload();
                        }
                    }
                });
            });
            $(":file").filestyle({buttonText: "Importer des apprenants", input: false,iconName:"fa fa-download"});
        });
    </script>
{% endblock %}
{% block headerscript %}
    <style>
        .table-atelier a.btn-danger {
            color: white;
        }

        .spinning {
            animation: spin 1s infinite linear;
            -webkit-animation: spin2 1s infinite linear;
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }
        @-webkit-keyframes spin2 {
            from { -webkit-transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg);}
        }
    </style>
{% endblock %}
