{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Administrateurs{% endblock %}

{% block breadcrumbs %}
    <li><span>Admin</span></li>
    <li><span>Utilisateurs</span></li>
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    {%  if admins|length == 0 %}
        <div class="alert alert-info fade in nomargin">
            <h4>Information !</h4>
            <p>
                Il n'y a aucun Administrateur
            </p>
            <p>
                <a href="{{ path('admin_add_administrators') }}" class="btn btn-info mt-xs mb-xs" type="button">Ajouter un administrateur</a>
            </p>
        </div>
    {% else %}
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">{{ block('title') }}</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-md">
                            <a href="{{ path('admin_add_administrators') }}" class="btn btn-primary">Ajouter un administrateur <i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-none table-atelier" id="datatable-editable">
                        <thead>
                        <tr>
                            <th>Nom et prénom</th>
                            <th>Téléphone</th>
                            <th>Email</th>
                            <th>Niveau d'autorisation</th>
                            <th>Activé</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in admins %}
                            <tr class="gradeX">
                                <td> {{ user.societe }} </td>
                                <td> {{ user.telephone ? user.telephone : '---' }} </td>
                                <td> {{ user.email ? user.email : '---' }} </td>
                                <td>{{ user.getAuthorisation() }}</td>
                                <td>{{ user.enabled ? 'Oui' : 'Non' }}</td>
                                <td class="actions">
                                    <a href="{{ path('admin_add_administrators', { 'id': user.id }) }}"><i class="fa fa-pencil"></i></a>
                                    <a href="#" data-href="{{ path('admin_users_delete_admin', { 'id': user.id }) }}" data-toggle="confirmation"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock body %}


{% block javascripts %}
    <script>
        $('[data-toggle="confirmation"]').confirmation({
            'title': 'Supprimer l\'assistance ?',
            'btnOkLabel': 'Oui',
            'btnCancelLabel': 'Non',
            'placement': 'left'
        });

        $(document).ready(function() {
            $('#datatable-editable').DataTable( {
                "order": [],
                "language": {
                    "sSearchPlaceholder": "...",
                    "search": "Recherche : _INPUT_",
                    "lengthMenu": " _MENU_  éléments",
                    "info": "Éléments _START_ à _END_ sur _TOTAL_",
                    "infoEmpty":      "0 à 0 sur 0 au total",
                    "decimal": ",",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                }
            } );
        } );

    </script>
{% endblock %}