{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_group_class -%}
    col-sm-8
{%- endblock form_group_class %}

{% block form_label -%}
    {% spaceless %}
        {% if label is same as(false) %}
            <div class="{{ block('form_label_class') }}"></div>
        {% else %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
            {% if label is not same as(false) -%}
                {% if not compound -%}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {%- endif -%}
                {% if required -%}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {%- endif -%}
                {% if label is empty -%}
                    {%- if label_format is not empty -%}
                        {% set label = label_format|replace({
                        '%name%': name,
                        '%id%': id,
                        }) %}
                    {%- else -%}
                        {% set label = name|humanize %}
                    {%- endif -%}
                {%- endif -%}
                {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
                    {% if required %}
                        <abbr title="Ce champ est obligatoire." class="form-required">*</abbr>
                    {% endif %}
                </label>
            {%- endif -%}
        {% endif %}
    {% endspaceless %}
{%- endblock form_label %}
