{% block _exam_CGU_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}" style="font-size: 19px;">
        <div class="col-md-12">
            <div class="qcm-reponses row">
                <div class="checkbox-custom checkbox-default">
                    {{- form_widget(form) -}}
                    {{- form_label(form) -}}
                </div>
                <div class="alert alert-danger hidden" id="CGU-errors">
                    <strong><i class="fa fa-exclamation-circle "></i></strong> Vous devez reconnaitre avoir reçu la notice pour continuer.
                </div>
            </div>
        </div>
    </div>
{%- endblock _exam_CGU_row %}

{% block form_row -%}
  <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}{% if form.vars.attr['data-id'] is divisible by(3) %} break-page clearfix{% endif %}{% if form.vars.attr['data-id'] == 17 %} break-before{% endif %}">
      <div class="{{ form.vars.attr['data-image'] is defined and form.vars.attr['data-image'] ? "col-xs-7" : "col-xs-12" }}">
          <div class="qcm-question">
              {{- form_label(form) -}}
          </div>
          <hr/>
          <div class="qcm-reponses row">
              {{- form_widget(form) -}}
              {{- form_errors(form) -}}
          </div>
      </div>
      {% if form.vars.attr['data-image'] is defined and form.vars.attr['data-image'] %}
      <div class="col-xs-5">
          <img src="{{ absolute_url(asset(form.vars.attr['data-image'])) }}" class="img-responsive"  />
      </div>
      {% endif %}
  </div>
{%- endblock form_row %}

{% block form_errors -%}
  {% if errors is defined and errors|length > 0 -%}
    {%- for error in errors -%}
      <div class="alert alert-danger">
        <strong><i class="fa fa-exclamation-circle "></i></strong> {{ error.message }}
      </div>
    {%- endfor %}
  {%- endif %}
{%- endblock form_errors %}

{%- block choice_widget_expanded -%}
    {%- for child in form if child.vars.value != '' %}
    <div {{ block('widget_container_attributes') }}>
      {{- form_widget(child) -}}
      {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
      </div>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    {% if form.vars.attr['image'] is defined and form.vars.attr['image'] %}
        <img src="{{ absolute_url(asset("images/"~form.vars.attr['image'])) }}" class="img-responsive" />
    {% endif %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {% if form.vars.attr['image'] %}
        <img src="{{ absolute_url(asset("images/"~form.vars.attr['image'])) }}" class="img-responsive" />
    {% endif %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget -%}
