{% extends 'AppBundle::layout.html.twig' %}
{% block title %}PASI™{% endblock %}

{% block headerscript %}
    <script type='text/javascript' src='https://content.jwplatform.com/libraries/NcS4YRWc.js'></script>
    <style>
        .title-condidate {
            font-size: 14px;
            margin-top: 5px;
            border-bottom: 1px solid #efefef;
            color: #4F87C6;
        }
        .has-image {
            text-align: center;
            padding-bottom: 25px;
        }
        .has-image label {
            text-align: center;
            padding: 7px 10px;
            display: block;
            margin-bottom: 2px;
        }
        .has-image label:before {
            left: 50%;
            bottom: 0;
            top: 95%;
        }
        .radio-custom.has-image input[type="radio"]:checked + label:after {
            top: 0;
            left: 5px;
            bottom: 0;
            margin-top: 6px;
        }
        .checkbox-custom input[type="checkbox"]:checked + label:after,
        .checkbox-custom.checked label:after{
            top: 0;
            left: 3px;
            bottom: 0;
            margin-top: 6px;
        }
        .checkbox-custom.has-image input[type="checkbox"]:checked + label:after {
            bottom: 0;
            margin-top: 5px;
            margin-left: 2px;
            top: 91%;
            left: 50%;
        }
        html.fixed .content-body { margin-left: 0; }
        html.fixed .header, html.fixed .sidebar-left, html.fixed .page-header { display: none; }
        html.fixed .inner-wrapper { padding: 0; }
        @media print {
            html.fixed .content-body { margin-left: 0; }
            html.fixed .header,
            html.fixed .sidebar-left,
            html.fixed .page-header,
            .sound-player,
            .print-btn { display: none; }
            html.fixed .inner-wrapper { padding: 0; }
        }
        .tab-content .tab-pane {
            display: none;
        }
        .tab-content .active {
            display: block;
        }
        .panel-footer {
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    <a id="printBtn" target="_blank" href="{{ path('print_qcm',{"code":apprenant.code}) }}" class="print-btn mb-xs mt-xs mr-xs btn btn-default"><i class="fa fa-print"></i> Imprimer</a>
    <a target="_blank" href="{{ path('pdf_qcm',{"code":apprenant.code}) }}" class="mb-xs mt-xs mr-xs btn btn-default"><i class="fa fa-download" aria-hidden="true"></i><span>Télécharger en PDF</span></a>
    <section class="panel form-wizard">
        <div class="panel-body">
            <div class="title-condidate">
                <b>Nom & prénom: </b>{{ apprenant.nom~' '~apprenant.prenom }}<br/>
                <b>Code: </b>{{ apprenant.code }}
            </div>
            <h1 class="text-center">Passeport Sécurité Intérim - PASI™</h1>
            <hr/>
            <div class="col-md-12">
                <section class="form-wizard" id="w5">
                    <div>
                        <div class="wizard-tabs" style="visibility: hidden; position: absolute;">
                            <ul class="wizard-steps">
                                {% for i in 1..form|length %}
                                <li{% if loop.first %} class="active"{% endif %}>
                                    <a href="#tab{{ i }}" data-toggle="tab"></a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="progress progress-striped progress-xl m-md light">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60%</span>
                            </div>
                        </div>
                        {% form_theme form 'AppBundle:Attestation:_widgets.html.twig' %}
                        {{ form_start(form, {'attr':{'id':'formQCM','class': 'form-horizontal form-bordered','novalidate': 'novalidate'}}) }}
                        <div class="tab-content">
                            {{ form(form) }}
                        </div>
                    </div>
                    <div class="panel-footer">
                        <ul class="pager">
                            <li class="previous disabled">
                                <a><i class="fa fa-angle-left"></i> Précédent</a>
                            </li>
                            <li class="finish hidden pull-right">
                                <a>Terminer</a>
                            </li>
                            <li class="next">
                                <a>Suivant <i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="text-center"><b> Pour réussir au test, il faut obtenir <span class="label-success">&nbsp;70 %&nbsp;</span> de bonnes réponses minimum, soit 18 bonnes réponses sur un total de 26 questions.</b></div>
        </div>
    </section>
{% endblock body %}

{% block javascripts %}
<script src="{{ asset('bundles/app/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js') }}"></script>
<script type="application/javascript">
(function($) {
    $('.checkbox-custom label , .checkbox-custom').on('click',function(){
        $(this).closest('.checkbox-custom').toggleClass('checked');
        setTimeout(function(){
            if(!$('#exam_CGU').prop('checked')){
                $('#CGU-errors').removeClass('hidden');
                $('#w5 .next').hide();
            } else {
                $('#CGU-errors').addClass('hidden');
                $('#w5 .next').show();
            }
        }, 100);
    });

    var $w5finish = $('#w5').find('ul.pager li.finish');
    $w5finish.on('click', function( ev ) {
        ev.preventDefault();
        $('#formQCM').submit();
    });
    $('#w5').bootstrapWizard({
        tabClass: 'wizard-steps',
        nextSelector: 'ul.pager li.next',
        previousSelector: 'ul.pager li.previous',
        firstSelector: null,
        lastSelector: null,
        onTabChange: function( tab, navigation, index, newindex ) {
            var $total = navigation.find('li').length - 1;
            $w5finish[ newindex != $total ? 'addClass' : 'removeClass' ]( 'hidden' );
            $('#w5').find(this.nextSelector)[ newindex == $total ? 'addClass' : 'removeClass' ]( 'hidden' );
        },
        onTabShow: function( tab, navigation, index ) {
            var $total = navigation.find('li').length;
            var $current = index + 1;
            var $percent = ( $current / $total ) * 100;
            $('#w5').find('.progress-bar').css({ 'width': $percent + '%' });
            if(index == 0) {
                $('#w5 .next').hide();
            }
        }
    });
}).apply(this, [jQuery]);
</script>
{% endblock %}

{% block form_errors -%}
    {% if errors is defined and errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="help-block">
                <span class="text-danger"><i class="fa fa-exclamation-circle "></i> {{ error.message }}</span>
            </div>
        {%- endfor %}
    {%- endif %}
{%- endblock form_errors %}
