{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Passeport Sécurité Intérim{% endblock %}

{% block headerscript %}
    <style>
        .title-condidate {
            font-size: 14px;
            margin-top: 5px;
            border-bottom: 1px solid #efefef;
            color: #4F87C6;
        }
        .has-image {
            text-align: center;
            padding-bottom: 25px;
        }
        .has-image label {
            text-align: center;
            padding: 7px 10px;
            display: block;
            margin-bottom: 2px;
        }
        .has-image label:before {
            left: 50%;
            bottom: 0;
            top: 95%;
        }
        .radio-custom.has-image input[type="radio"]:checked + label:after {
            top: 0;
            left: 5px;
            bottom: 0;
            margin-top: 6px;
        }
        .checkbox-custom input[type="checkbox"]:checked + label:after {
            top: 0;
            left: 3px;
            bottom: 0;
            margin-top: 6px;
        }
        .checkbox-custom.has-image input[type="checkbox"]:checked + label:after {
            bottom: 0;
            margin-top: 5px;
            margin-left: 2px;
            top: 91%;
            left: 50%;
        }
        html.fixed .content-body { margin-left: 0; }
        html.fixed .header, html.fixed .sidebar-left, html.fixed .page-header, .sound-player { display: none; }
        html.fixed .inner-wrapper { padding: 0; }
        @media print {
            .print-btn { display: none; }
            .qcm-question label {
                font-size: 15px;
            }
            .break-page {
                margin-bottom: 400px !important;
            }
        }
        .break-page {
            page-break-after: always;
            display: block;
        }
        .table-qcm {
            font-size: 20px;
            color: red;
            text-align: center;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    <a id="printBtn" target="_blank" href="javascript:window.print()" class="print-btn mb-xs mt-xs mr-xs btn btn-default"><i class="fa fa-print"></i> Imprimer</a>
    <section class="panel">
        <div class="panel-body">
            <div class="title-condidate">
                <b>Nom & prénom: </b>{{ apprenant.nom~' '~apprenant.prenom }}<br/>
                <b>Code: </b>{{ apprenant.code }}
            </div>
            <h1 class="text-center">Passeport Sécurité Intérim - PASI™</h1>
            <div class="text-center"><b> Pour réussir au test, il faut obtenir <span class="label-success">&nbsp;70 %&nbsp;</span> de bonnes réponses minimum, soit 18 bonnes réponses sur un total de 26 questions.</b></div>
            <hr/>
            <div class="col-md-12">
                <div class="col-md-12">
                    {{ form_start(form, {'attr':{'class': 'form-horizontal form-bordered','novalidate': 'novalidate'}}) }}
                    {% form_theme form 'AppBundle:Attestation:_widgets_print.html.twig' %}
                    {{ form(form) }}
                    <hr/>
                    <div class="text-center" style=" margin-bottom: 15px; "><b> Pour réussir au test, il faut obtenir <span class="label-success">&nbsp;70 %&nbsp;</span> de bonnes réponses minimum, soit 18 bonnes réponses sur un total de 26 questions.</b></div>
                    <table class="table table-responsive table-bordered table-qcm">
                        <tr><td>Résultat de l’évaluation</td><td> ...... / {{ QCM.questions|length }}</td></tr>
                    </table>
                    <div class="row text-center" style=" padding: 20px; ">
                        <div class="col-xs-6"><div class="bordered-checkbox-box"><span>Acquis</span></div></div>
                        <div class="col-xs-6"><div class="bordered-checkbox-box"><span>Non Acquis</span></div></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bordered-box">
                                Commentaire(s) éventuel du formateur:
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>window.print();</script>
{% endblock body %}