{% trans_default_domain 'FOSUserBundle' %}

<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">{{ block('title') }}</h2>
    </header>
    <div class="panel-body">
        {% form_theme form '_widgets_horizontal.html.twig' 'widgets/_widgets_registration.html.twig'  %}
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="form-group mb-none{% if not form.current_password.vars.valid %} has-error{% endif %}">
            <div class="col-sm-12 mb-lg">
                <label class="control-label">Mot de passe actuel <abbr title="Ce champ est obligatoire." class="form-required">(*)</abbr></label>
                {{ form_widget(form.current_password) }}
                {{ form_errors(form.current_password) }}
            </div>
        </div>
        <div class="form-group mb-none{% if not form.plainPassword.vars.valid %} has-error{% endif %}">
            <div class="col-sm-6 mb-lg">
                <label class="control-label">Mot de passe <abbr title="Ce champ est obligatoire." class="form-required">(*)</abbr></label>
                {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control input-lg'}}) }}
            </div>
            <div class="col-sm-6 mb-lg">
                <label class="control-label">Confirmation <abbr title="Ce champ est obligatoire." class="form-required">(*)</abbr></label>
                {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control input-lg'}}) }}
            </div>
            <div class="col-sm-12">
                <em style="font-size: 11px;color: #444444;">- Le mot de passe doit contenir entre 12 et 16 caractères alphanumériques dont une majuscule, un chiffre et un caractère spécial.</em><!-- Le mot de passe doit contenir entre 8 et 16 caractères alphanumériques dont une majuscule, une minuscule et un chiffre. --><br/>
                <em style="font-size: 11px;color: #444444;">- Le mot de passe doit être changé à échéance régulière pour plus de sécurité.</em>
            </div>
            <div class="col-sm-12">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(form.CGU) }}
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="mb-md pull-right">
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</section>
