{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock body %}
