{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if app.user and app.user.hasRole('ROLE_BTP') %}
        <p>{{ 'registration.confirmed2'|trans() }}</p>
    {% else %}
        <p>{{ 'registration.confirmed'|trans() }}</p>
    {% endif %}
    <p><a href="{{ path('fos_user_security_login') }}">{{ 'registration.back'|trans }}</a></p>
{% endblock fos_user_content %}
