{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'widgets/_widgets_registration.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register','novalidate':'novalidate'}}) }}
    {{ form_row(form.societe) }}
    {{ form_row(form.email) }}
    <div class="col-sm-12 mb-20">
        <em style="font-size: 11px;color: #444444;">- Nous vous recommandons de saisir une adresse mail générique (ex: contact@interim.com) ne contenant pas de données personnelles telles que le nom et le prénom.</em><br/>
    </div>
    {{ form_row(form.adresse) }}
    {% if form.city is defined %}
        {{ form_row(form.city) }}
        {{ form_row(form.codePostal) }}
    {% endif %}
    {{ form_row(form.siret) }}
    {{ form_row(form.telephone) }}

    <div class="form-group mb-none{% if not form.plainPassword.vars.valid %} has-error{% endif %}">
        <div class="row">
            <div class="col-sm-6 mb-lg">
                <label class="control-label">Mot de passe (*)</label>
                {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control input-lg'}}) }}
            </div>
            <div class="col-sm-6 mb-lg">
                <label class="control-label">Confirmation (*)</label>
                {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control input-lg'}}) }}
            </div>
            <div class="col-sm-12">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="col-sm-12">
                <em style="font-size: 11px;color: #444444;">- Le mot de passe doit contenir entre 12 et 16 caractères alphanumériques dont une majuscule, un chiffre et un caractère spécial.</em><br/>
                <em style="font-size: 11px;color: #444444;">- Le mot de passe doit être changé à échéance régulière pour plus de sécurité.</em>
            </div>
        </div>
    </div>
    {{ form_row(form.CGU) }}
    {{ form_row(form.recaptcha) }}
    <div class="row">
        <div class="col-sm-12 text-right">
            <input type="submit" class="btn btn-primary btn-block" value="S'inscrire" />
        </div>
    </div>
    <hr/>
    <p class="text-center">Vous avez déjà un compte? <a href="{{ path('fos_user_security_login') }}">Se connecter!</a></p>
{{ form_end(form) }}

{% block form_errors -%}
    {% if errors is defined and errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="help-block">
                <span class="text-danger"><i class="fa fa-exclamation-circle "></i> {{ error.message }}</span>
            </div>
        {%- endfor %}
    {%- endif %}
{%- endblock form_errors %}
