{% trans_default_domain 'FOSUserBundle' %}

{% if error or failedLoginAttemptsCount > 0 %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul class="list-unstyled">
            {% if error %}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.messageKey|trans(error.messageData, 'security') }}</li>
            {% endif %}
            {% if failedLoginAttemptsCount >= 3 %}
                <li><span class="glyphicon glyphicon-exclamation-sign"></span> Veuillez contacter l’administrateur xxxx@passeportsecuritéinterim.fr pour effectuer une nouvelle demande d’accès à la plateforme</li>
            {% elseif failedLoginAttemptsCount > 0 %}
                <li><span class="glyphicon glyphicon-exclamation-sign"></span> Attention il ne vous reste plus que {{ 3 -failedLoginAttemptsCount }} tentative{{ 3 -failedLoginAttemptsCount > 1 ? 's' : '' }} </li>
            {% endif %}
        </ul>
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group mb-lg">
        <label>Email</label>
        <div class="input-group input-group-icon">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control input-lg" />
            <span class="input-group-addon">
                <span class="icon icon-lg">
                    <i class="fa fa-user"></i>
                </span>
            </span>
        </div>
    </div>

    <div class="form-group mb-lg">
        <div class="clearfix">
            <label class="pull-left">Mot de passe</label>
            {#<a href="pages-recover-password.html" class="pull-right">Mot de passe oublié?</a>#}
        </div>
        <div class="input-group input-group-icon">
            <input type="password" id="password" name="_password" required="required" class="form-control input-lg" />
            <span class="input-group-addon">
                <span class="icon icon-lg">
                    <i class="fa fa-lock"></i>
                </span>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="checkbox-custom checkbox-default">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="RememberMe">Se souvenir de moi</label>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <input type="submit" name="_submit" class="btn btn-primary hidden-xs" value="Connexion" />
            <input type="submit"  name="_submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" value="Connexion" />
        </div>
    </div>
    <hr/>
    <p class="text-center">Entreprise de travail temporaire non inscrite ? <a href="{{ path('fos_user_registration_register') }}" data-toggle="confirmation"  data-btn-ok-label="Oui" data-btn-ok-class="btn btn-success" data-btn-cancel-label="Non" data-btn-cancel-class="btn btn-danger" data-title="Confirmation" data-content="Vous confirmez votre inscription en tant qu’Entreprise de travail temporaire ?" data-html="true">Inscrivez-vous ici</a></p>
    <hr/>
    <p class="text-center">Entreprise adhérente d’EGF.BTP non inscrite ? <a href="{{ path('fos_user_registration_register') }}?t=E_BTP" data-toggle="confirmation"  data-btn-ok-label="Oui" data-btn-ok-class="btn btn-success" data-btn-cancel-label="Non" data-btn-cancel-class="btn btn-danger" data-title="Confirmation" data-content="Vous confirmez que vous n’êtes pas une entreprise de travail temporaire et que vous êtes une entreprise adhérente d’EGF.BTP ?" data-html="true">Inscrivez-vous ici</a></p>
    <hr/>
    <p class="text-center">Mot de passe oublié ? <a href="{{ path('fos_user_resetting_request') }}">Cliquez ici</a></p>
    <hr/>
    <p class="text-center text-muted mt-md mb-md">Il est rappelé aux entreprises de travail temporaire et aux entreprises utilisatrices que la délivrance du Passeport Sécurité Intérim après examen en fin de formation ne les exonère pas de l’ensemble des obligations mises à leur charge par le code du travail en matière d’accueil et de formation des salariés intérimaires.</p>
    <p class="text-center"><a href="/mentions-legales.pdf" target="_blank">Mentions légales</a></p>
</form>