{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Mes apprenants{% endblock %}

{% block breadcrumbs %}
    <li><span>Organisme de formation</span></li>
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">{{ block('title') }}</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-md">
                            <a href="{{ path('of_add_apprenant') }}" class="btn btn-primary">Ajouter un apprenant <i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                {{ sg_datatables_render(datatable) }}
            </div>
        </section>
{% endblock body %}


{% block javascripts %}

    <script>
        $('[data-toggle="confirmation"]').confirmation({
            'title': 'Supprimer ?',
            'btnOkLabel': 'Oui',
            'btnCancelLabel': 'Non',
            'placement': 'left'
        });

        $('[data-toggle="confirmation_exam"]').confirmation({
            'title': 'Vous confirmez vouloir passer l\'examen ?',
            'btnOkLabel': 'Oui',
            'btnCancelLabel': 'Non',
            'placement': 'left'
        });

        $(document).ready(function() {
            $('#datatable-editable').DataTable( {
                "order": [
                    [0, "desc"]
                ]
            } );
        } );
    </script>

{% endblock %}