{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% if column_class_editable_selector is defined %}
    {% if data is same as(true) %}
        <span class="{{ true_icon ~ ' ' ~ column_class_editable_selector }}" data-pk="{{ pk }}" {% if path is not same as(null) %}data-path="{{ path }}"{% endif %}>{{ true_label|raw }}</span>
    {% elseif data is same as(false) %}
        <span class="{{ false_icon ~ ' ' ~ column_class_editable_selector }}" data-pk="{{ pk }}" {% if path is not same as(null) %}data-path="{{ path }}"{% endif %}>{{ false_label|raw }}</span>
    {% elseif data is same as(null) %}
        <span class="{{ column_class_editable_selector }}" data-pk="{{ pk }}" {% if path is not same as(null) %}data-path="{{ path }}"{% endif %}>
            {% if default_content is not same as(null) %}
                {{ default_content|raw }}
            {% else %}
                {{ empty_text|raw }}
            {% endif %}
        </span>
    {% endif %}
{% else %}
    {% if data is same as(true) %}
        <span class="{{ true_icon }}">{{ true_label|raw }}</span>
    {% elseif data is same as(false) %}
        <span class="{{ false_icon }}">{{ false_label|raw }}</span>
    {% elseif data is same as(null) %}
        {% if default_content is not same as(null) %}
            {{ default_content|raw }}
        {% else %}
            {{ data|raw }}
        {% endif %}
    {% endif %}
{% endif %}
