{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Journal des failles{% endblock %}

{% block breadcrumbs %}
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Tentatives de connexion avec plusieurs identifiants et même adresse IP</h2>
        </header>
        <div class="panel-body">
            {% if spyAttempts %}
                <table class="table">
                    <thead>
                        <tr>
                            <td>IP</td>
                            <td>Liste d'emails et date de tentatives</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ip,attempts in spyAttempts %}
                        <tr>
                            <td>{{ ip }}</td>
                            <td>
                                <table class="table table-striped">
                                    <tbody>
                                        {% for attempt in attempts %}
                                            <tr>
                                                <td>{{ attempt.email }}</td>
                                                <td>{{ attempt.createdAt|date('d/m/Y H:i:s') }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Aucune tentative trouvée.
            {% endif %}
        </div>
    </section>

    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-6">
            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Fréquences des tentatives</h4>
                                <div class="info">
                                    <strong class="amount">{{ failedLoginAttemptsPerDay|number_format(2) }} fois par jour</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6">
            <section class="panel panel-featured-left panel-featured-secondary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-danger">
                                <i class="fa fa-thumbs-down"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Nombre d’échecs</h4>
                                <div class="info">
                                    <strong class="amount">{{ failedLoginAttemptsCount }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Liste des tentatives d’identifiants </h2>
        </header>
        <div class="panel-body">
            {{ sg_datatables_render(datatable) }}
        </div>
    </section>
{% endblock body %}