{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Apprenants{% endblock %}

{% block breadcrumbs %}
    <li><span>Données Archivées</span></li>
    <li><span>{{ block('title') }}</span></li>
{% endblock %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">{{ block('title') }}</h2>
        </header>
        <div class="panel-body">
            {{ sg_datatables_render(datatable) }}
        </div>
    </section>
{% endblock body %}